<%- include("./partials/header.ejs")  %>

<article>
    <h2><%= locals.blogPost.title %></h2>

    <h4>By: <%= locals.blogPost.author %></h4>

    <%= locals.blogPost.content %>
</article>

<%- include("./partials/footer.ejs")  %>